<app-essai [table]="table()" [table_update_form]="table_update_form" [dataSource]="dataSource"
    [titre_tableau]="titre_tableau()" [displayedColumns]="displayedColumns"
    (newItemEvent)="updateData($event)"
    (RemoveItemEvent)="deleteData($event)" (RechercheEvent)="recherche($event)"
    (AfficheToutEvent)="afficheTout()" 
    [titre]="titre"
    (PatchEvent)="PatchEventFct($event)"
    (addEvent)="addEventFct()"> 
</app-essai>

<ng-template #titre>
    <div class="content_head_perso">
        <h2> {{titre_tableau()}}</h2>
    </div>
</ng-template>