<app-home-template [nav_liste]="nav_liste" [toolbar]="toolbar" [content]="content">
</app-home-template>
<ng-template #nav_liste>

</ng-template>
<ng-template #toolbar>
    <div class="example-spacer2">
        <button mat-fab type="button" (click)="accueil()">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <div class="example-spacer3">
        <button mat-fab extended type="button"  (click)="click_devis()">
            DEVIS
        </button>
        <button mat-fab extended type="button" (click)="click_constats()" >
            CONSTATS
        </button>
        <button mat-fab extended type="button"  (click)="click_attachements()">
            ATTACHEMENTS
        </button>
        <button mat-fab extended type="button" (click)="click_decomptes()">
            DECOMPTES 
        </button>
    </div>

</ng-template>
<ng-template #content>
    <router-outlet>
    </router-outlet>
</ng-template>