<mat-drawer-container class="wen-table-drawer-container">
  <mat-drawer class="default" mode="over" position="start" #table_update_drawer [opened]="is_table_opened()"
    disableClose="true">
    <section class="table-update">


      <form [formGroup]="table_update_form" (ngSubmit)="updateTableData()">
        <div class="table-update__body">

          <mat-form-field>
            <mat-label>
              N° POSTE
            </mat-label>
            <input matInput formControlName="poste" type="text" placeholder="N° POSTE">
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              DESIGNATION
            </mat-label>
            <textarea matInput formControlName="designation" type="text" placeholder="DESIGNATION"> </textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              UNITE
            </mat-label>
            <input matInput formControlName="unite" type="text" placeholder="UNITE">
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              PRIX UNITAIRE
            </mat-label>
            <input matInput formControlName="prix_u" type="number" placeholder="PRIX UNITAIRE">
          </mat-form-field>

          <mat-form-field>
            <mat-label>
              QUANTITE
            </mat-label>
            <input matInput formControlName="quantite" type="number" placeholder="QUANTITE">
          </mat-form-field>


        </div>
        <div class="table-update__footer">
          <button mat-flat-button type="submit" color="primary" [disabled]="!table_update_form.valid">
            {{is_table_updated()?'Modifier':'Ajouter'}}
          </button>
          <button mat-flat-button (click)="annuler()" color="warn" type="button"> Annuler
          </button>
        </div>
      </form>

    </section>
  </mat-drawer>
  <mat-drawer-content class="default">

    <div class="content_head">
      <h2>DEVIS PRESTATIONS</h2>
    </div>

    <div [ngStyle]="{
      'width.%':20,
      'margin-top.px':20,
      'margin-bottom.px':20,
      'margin-left.px':20,
      'background-color':'lightcoral'}">
      <mat-form-field [ngStyle]="{
        'width.%':90,
        'margin-top.px':20,
        'margin-left.%':5
        }">
        <mat-label> SELECTIONNER DEVIS </mat-label>
        <mat-select [(value)]="current_devis_id" (selectionChange)="selecteDevis($event.value)">
          <mat-option *ngFor="let devis of liste_devis()" [value]="devis.id"> {{devis.entreprise}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="content_body">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="poste">
          <th mat-header-cell *matHeaderCellDef>
            <span [style.paddingLeft.px]="40"> POSTE </span>
          </th>

          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind)
            {
            @if(data.level>0)
            {
            <div [ngStyle]="{
                  'width.%':50,
                  'text-align':'center' }">

              <input matInput type="text" [(ngModel)]="current_poste" [ngStyle]="{
                    'width.%':50,
                    'text align':'center',
                    'font-size.px':20}" />
            </div>
            }@else {
            <div [ngStyle]="{
              'padding-top.px':20,
                'text-align':'center' }">

              <textarea matInput type="text" [(ngModel)]="current_poste" [ngStyle]="{
                  'width.px':400,
                  'text align':'center',
                  'padding-top.px':20,
                  'padding-left.px':20,
                  'font-size.px':20}" ></textarea>  
            </div>
            }


            }@else {
            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
              [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>

            {{data.poste}}
            }

          </td>
        </ng-container>

        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef> DESIGNATION </th>
          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind && data.level>0)
            {
            <div class="row_saisie">

              <textarea matInput type="text" [(ngModel)]="current_designation" placeholder="designation" [ngStyle]="{
                'width.%':100,
                'height.px':50,
                'padding-top.px':20,
              'font-size.px':20}"></textarea>

            </div>

            }@else {
            {{data.designation}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="unite">
          <th mat-header-cell *matHeaderCellDef> UNITE </th>
          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind && !data.expandable && data.level>0)
            {
            <div [ngStyle]="{
              'width.px':100,
              'text-align':'center'
            }">
              <mat-select [(value)]="current_unite">
                <mat-option *ngFor="let unite of liste_unites()" [value]="unite.id"> {{unite.unite}}
                </mat-option>
              </mat-select>

            </div>

            }@else {
            {{data.unite|unites:_unit_store.unites_data()}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="prix_u">
          <th mat-header-cell *matHeaderCellDef> PRIX UNITAIRE </th>
          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind && !data.expandable && data.level>0)
            {
            <div class="row_saisie">

              <input matInput type="number" [(ngModel)]="current_prix" (keyup)="saisie()" placeholder="prix unitaire" />

            </div>

            }@else {
            {{data.prix_u|currency:'F CFA'}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef> QUANTITE </th>
          <td mat-cell *matCellDef="let data; let ind=index">
            @if(ligne_cliquer()==ind && !data.expandable && data.level>0)
            {
            <div class="row_saisie  ">

              <input matInput type="number" [(ngModel)]="current_quantite" (keyup)="saisie()" placeholder="quantité" />

            </div>
            }@else {
            {{data.quantite}}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef> MONTANT </th>
          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind && !data.expandable && data.level>0 )
            { <div class="row_saisie  ">
              <input matInput type="number" [(ngModel)]="current_montant" [disabled]="true" (keyup)="saisie()" />
            </div>
            }@else {
            {{data.montant|currency:'F CFA' }}
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let data;let ind=index">
            @if(ligne_cliquer()==ind)
            {
            <div class="row_buttons">
              <button mat-icon-button (click)="update()"> <mat-icon> save</mat-icon> </button>
              <button mat-icon-button (click)="close(data)"> <mat-icon> close</mat-icon> </button>
            </div>
            }@else {
            @if(data.level>0 && !data.expandable){
            <button mat-icon-button (click)="modif_data(ind,data)"> <mat-icon> edit</mat-icon> </button>
            <button mat-icon-button (click)="addrow(data)"> <mat-icon> add</mat-icon> </button>
            <button mat-icon-button (click)="delete(data)"> <mat-icon> delete</mat-icon> </button>
            }@else {
            <button mat-icon-button (click)="addrow(data)"> <mat-icon> add</mat-icon> </button>
            <button mat-icon-button (click)="modif_data(ind,data)"> <mat-icon> edit</mat-icon> </button>
            }

            }
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let ind=index " [ngStyle]="{  
          'font-size.px':'11', 
          'font-weight':row.expandable==true?'bold':'normal',
          'background-color':row_color[row.level]}" [class.demo-row-is-clicked]="focus_row()==ind"
     ></tr>
      </table>
    </div>

  </mat-drawer-content>

</mat-drawer-container>