<mat-sidenav-container fullscreen>
    <mat-sidenav #sidnav>
        <mat-nav-list (click)="sidnav.close()">
            <a mat-list-item routerLink="materiel">
                <mat-icon>build </mat-icon>
                <span>Liste du Matériel</span>
            </a>

            <a mat-list-item routerLink="personnel">
                <mat-icon>people </mat-icon>
                <span>Liste du Personnel</span>
            </a>
            -----------------------

            <a mat-list-item routerLink="rapportpannes">
                <mat-icon>library_books </mat-icon>
                <span>Rapport des pannes</span>
            </a>
            -----------------------
            <a mat-list-item (click)="logout()">
                <mat-icon fontIcon="logout">logout </mat-icon>
                <span>déconnection</span>
            </a>

            -----------------------
            <a mat-list-item (click)="click_register()">
                <mat-icon fontIcon="Register"></mat-icon>
                <span>Register</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="toolbar">
        <mat-toolbar>

            <button mat-fab (click)="sidnav.open()" type="button">
                <mat-icon>apps</mat-icon>
            </button>

            <span class="example-spacer2"> </span>

            <button mat-fab (click)="click_accueil()" type="button">
                <mat-icon> home</mat-icon>
            </button>

            <span class="example-spacer2"> </span>

            <button mat-fab extended color="Accent" (click)="click_gasoil()" type="button">
                GASOIL
            </button>

            <span class="example-spacer2"> </span>

            <button mat-fab extended color="Accent" (click)="click_pannes()" type="button">
                PANNE ENGINS
            </button>

            <span class="example-spacer2"> </span>

            <button mat-fab extended color="Accent" (click)="click_pointage()" type="button">
                POINTAGE PERSONNEL
            </button>


            <span class="example-spacer2"> </span>

            <button mat-fab extended color="Accent" (click)="click_travaux()" type="button">
                POINTAGE TRAVAUX
            </button>

            <span class="example-spacer2"> </span>

            <button mat-fab extended color="Accent" (click)="prestation()" type="button">
                PRESTATION TRAVAUX
            </button>
            <span class="example-spacer2"> </span>
            <ng-container>
                <h1>{{ _auth_service.userSignal()?.email}}</h1>
            </ng-container>
            <ng-container>
                <mat-form-field>
                    <mat-label>
                        Choix projet
                    </mat-label>
                    <mat-select [(ngModel)]="selectedOption" (selectionChange)="choice_projet($event)">
                        @for(item of projet_compte(); track item)
                        {
                            <mat-option    value={{item.id}}>{{item.intitule}} </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </ng-container>
            <span class="example-spacer2"> </span>
            <div class="logo">
                <h3>SOLUBTP </h3>
                <h4>By Wen</h4>
            </div>

        </mat-toolbar>

        <button mat-raised-button (click)="upload_personnel()">
            Uploader
        </button>
    </mat-sidenav-content>

</mat-sidenav-container>