$wen-colors: (
    primary: rgba(170, 162, 143, 0.745),
    primary-light: #cda891,
    primary-dark: #4b830d,

    notification: #B00020,
    subtle-bg: #EEEEEE,
    default-text: #000000,

    disabled-text: rgb(0,0,0,0.26),
    disabled-bg: rgb(0,0,0,0.12),
    divider:rgb(193, 186, 186),

    // Add more colors here
    drawer_title_engins: #da9555,
    drawer_title_personnel: #9ad589,
    drawer_title_go_conso: #24ad9d,
    drawer_title_go_appro:#24ad9d,
    drawer_title_go_pannes:#aaa8ef,
    drawer_title_go_edit_pannes:#aaa8ef,
    drawer_title_go_edit_pointages:#aaa8ef,
    drawer_title_default:#b0a295,

    drawerContent_entete_personnel: #9ad589,
    drawerContent_entete_engins: #da9555,
    drawerContent_entete_gasoil: #24ad9d,
    drawerContent_entete_pannes: #aaa8ef,
    drawerContent_entete_pointages : #c9d483,
    drawerContent_entete_default : #b0a295,

    border_botom_color:  #615e5c,
    border_rigth_color:  #615e5c,
)

