<app-table-devis [table]="table()" [table_update_form]="table_update_form" [dataSource]="dataSource()"
    [displayedColumns]="displayedColumns" [titre]="titre" [devis_opened]="devis_opened()"
    (newItemEvent)="updateData($event)" (RemoveItemEvent)="deleteData($event)"
    (ChangeSelectEvent)="changeSelect($event)" (PatchEvent)="PatchEventFct($event)" (addEvent)="addEventFct()">

</app-table-devis>
<ng-template #titre>
    <div class="content_head">
        <h2> {{titre_tableau()}}</h2>
    </div>
</ng-template>