<h1>GeeksforGeeks</h1>
<h3>MatTree Example</h3>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>

        <button mat-icon-button disabled> </button>
        <div class="ligne_expand" (click)="filtre(node.name)">
            {{node.name}}
            <button mat-icon-button >
                <mat-icon>
                   delete
                </mat-icon>
            </button>
        </div>

    </mat-tree-node>

    <!-- Tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ?
                'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <div class="ligne_parent_expand" (click)="filtre(node.name)">
            {{node.name}}
            <button mat-icon-button >
                <mat-icon>
                   print
                </mat-icon>
            </button>

        </div>
    </mat-tree-node>

</mat-tree>