<div class="login-page">
    <div class="login-form-container">
        <form [formGroup]="loginForm" (ngSubmit)="sumitlogin()" class="login-form ">
            <fieldset>
                <legend>
                    Connexion
                </legend>
                <div class="login-page__banner">
                    <p><em>{{message()}}</em></p>
                </div>
                <div class="login_saisi">
                    <mat-form-field>
                        <input matInput formControlName="email" placeholder="email" type="email">
                    </mat-form-field>
                </div>
                <div class="login_saisi">
                    <mat-form-field>
                        <input matInput formControlName="password" placeholder="mot de passe" type="password">
                    </mat-form-field>
                </div>
                <div class="login-form__footer">
                    <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">
                        Connexion
                    </button>
                </div>
            </fieldset>

        </form>
    </div>
</div>