<mat-drawer-container class="wen-table-drawer-container">
    <mat-drawer-content>
        <div class="content_head">
            <h2>TRAVAUX</h2>
        </div>
        <div class="content_soushead">
            <div class="table-col1">
                <mat-form-field>
                    <mat-label>Selectionner projet</mat-label>
                    <mat-select [(value)]="projetId" (selectionChange)="selectedChange($event.value)">
                        <mat-option *ngFor="let projet of _projet_store.donnees_projet()" [value]="projet.id">
                            {{projet.intitule}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Choisir une date</mat-label>
                    <input matInput [matDatepicker]="datepicker" (dateInput)="selectDate( $event)"
                        [ngModel]="date" placeholder="DATE">
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Annuler</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Appliquer</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>

                <button mat-flat-button (click)="initialiser()"
                    [disabled]="_pointage_trvx_store.donnees_pointage_trvx()!=undefined ||projetId()==''">
                    Nouveau</button>
            </div>
        </div>
        <div class="content_body">
            <mat-tab-group fitInkBarToContent>
                <mat-tab [label]="label_tab1()" >
            
                    <table mat-table [dataSource]="datasource()" class="wen-table" multiTemplateDataRows>
                        <ng-container matColumnDef="engin">
                            <th mat-header-cell *matHeaderCellDef> ENGIN
            
                            </th>
                            <td mat-cell *matCellDef="let element;" [ngClass]="{
                            'decal0':element.type=='enfant'}">
                                {{element.engin}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="duree">
                            <th mat-header-cell *matHeaderCellDef> DUREE
                            </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.type!="parent")
                                {
                                {{element.duree }}
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.type=="parent")
                                {
                                <button mat-icon-button (click)="ajouter(element)"> <mat-icon>add</mat-icon></button>
                                }@else
                                {
                                <button mat-icon-button (click)="edit_element(element)"> <mat-icon>edit</mat-icon></button>
                                <button mat-icon-button (click)="remove_tache_engin(element)"> <mat-icon>delete</mat-icon></button>
                                }
                            </td>
                        </ng-container>
            
                        <ng-container matColumnDef="expan1">
                            <td mat-cell *matCellDef="let element" colspan="3">
                                @if(current_row()==element )
                                {
                                <div class="row_table">
                                    <div class="part1">
                                        <mat-form-field>
                                            <mat-label>Engin</mat-label>
                                            <mat-select [(ngModel)]="engin">
                                                <mat-option *ngFor="let engin of _engins_store.donnees_engins()" [value]="engin.id">
                                                    {{engin.designation+" "+engin.code_parc}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="part2">
                                        <mat-form-field>
                                            <mat-label>Durée</mat-label>
                                            <input matInput [(ngModel)]="duree" type="number" placeholder="Durée travail"
                                                value="{{element.duree}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="part3">
                                        <button mat-icon-button (click)="ajout_tache()"> <mat-icon>save</mat-icon></button>
                                    </div>
                                </div>
                                }
            
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="modif1">
                            <td mat-cell *matCellDef="let element" colspan="3">
                                @if (
                                modif_row()==element
                                ) {
                                <div class="row_table">
                                    <div class="part1">
                                        <mat-form-field>
                                            <mat-label>Engin</mat-label>
                                            <mat-select [(value)]="engin">
                                                <mat-option *ngFor="let engin of _engins_store.donnees_engins()" [value]="engin.id">
                                                    {{engin.designation+" "+engin.code_parc}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="part2">
                                        <mat-form-field>
                                            <mat-label>Durée</mat-label>
                                            <input matInput [(ngModel)]="duree" type="number" placeholder="Durée travail"
                                                value="{{element.duree}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="part3">
                                        <button mat-icon-button (click)="update_tache_engin()"> <mat-icon>save</mat-icon></button>
                                    </div>
                                </div>
                                }
                            </td>
                        </ng-container>
            
            
                        <tr mat-header-row *matHeaderRowDef="taches_machineColumnsStr"></tr>
                        <tr mat-row *matRowDef="let element; columns: taches_machineColumnsStr;"
                            [ngClass]="{'classe_parent0':element.type=='parent'}" [class.hidden]="modif_row()==element"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expan1']" class="example-detail-row"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['modif1']" class="example-detail-row"></tr>
                    </table>
                </mat-tab>
                <mat-tab  [label]="label_tab2()">
            
                </mat-tab>
            
            </mat-tab-group>
        </div>
    </mat-drawer-content>
</mat-drawer-container>






