<table mat-table [dataSource]="datasource()" class="wen-table" multiTemplateDataRows>

    <ng-container matColumnDef="engin">
        <th mat-header-cell *matHeaderCellDef> ENGIN

        </th>
        <td mat-cell *matCellDef="let element;" [ngClass]="{
        'decal0':element.type=='enfant'}">
            {{element.engin}}
        </td>
    </ng-container>
    <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef> DUREE
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.duree }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element">
            @if (element.type=="parent")
            {
            <button mat-icon-button (click)="ajouter(element)"> <mat-icon>add</mat-icon></button>
            }@else
            {
            <button mat-icon-button (click)="edif_element(element)"> <mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="remove_tache_engin(element)"> <mat-icon>delete</mat-icon></button>
            }
        </td>
    </ng-container>

    <ng-container matColumnDef="expan1">
        <td mat-cell *matCellDef="let element">
            @if(current_row()==element )
            { <mat-form-field>
                <mat-select placeholder="Engin" [(ngModel)]="engin">
                    <mat-option *ngFor="let engin of _engins_store.donnees_engins()" [value]="engin.id">
                        {{engin.designation+" "+engin.code_parc}}

                    </mat-option>
                </mat-select>
            </mat-form-field>
            }

        </td>
    </ng-container>
    <ng-container matColumnDef="expan2">
        <td mat-cell *matCellDef="let element">
            @if(current_row()==element )
            {
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput [(ngModel)]="duree" type="number" placeholder="Durée travail" value="{{element.duree}}">
            </mat-form-field>
            }

        </td>
    </ng-container>
    <ng-container matColumnDef="expan3">

        <td mat-cell *matCellDef="let element">
            @if(current_row()==element)
            {
            <button mat-icon-button (click)="add_tache_engin()"> <mat-icon>save</mat-icon></button>
            }

        </td>
    </ng-container>
    <ng-container matColumnDef="modif1">
        <td mat-cell *matCellDef="let element">
            @if (
            modif_row()==element
            ) {
            <mat-form-field>
                <mat-select [(value)]="engin">
                    <mat-option *ngFor="let engin of _engins_store.donnees_engins()" [value]="engin.id">
                        {{engin.designation +" "+engin.code_parc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            }
        </td>
    </ng-container>
    <ng-container matColumnDef="modif2">
        <td mat-cell *matCellDef="let element">
            @if (
            modif_row()==element
            ) {
            <mat-form-field>
                <mat-label>Input</mat-label>
                <input matInput [(ngModel)]="duree" type="number" placeholder="Durée travail">
            </mat-form-field>
            }
        </td>
    </ng-container>
    <ng-container matColumnDef="modif3">
        <td mat-cell *matCellDef="let element">
            @if(modif_row()==element)
            {
            <button mat-icon-button (click)="update_tache_engin()"> <mat-icon>save</mat-icon></button>
            }
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="taches_machineColumnsStr"></tr>
    <tr mat-row *matRowDef="let element; columns: taches_machineColumnsStr;"
        [ngClass]="{'classe_parent0':element.type=='parent'}" [class.hidden]="modif_row()==element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expan1','expan2','expan3']" class="example-detail-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['modif1','modif2','modif3']" class="example-detail-row"></tr>
</table>
<button>
    <mat-icon>add</mat-icon>
</button>
<button>
    <mat-icon>edit</mat-icon>
</button>