<mat-drawer-container class="wen-table-drawer-container">
    <mat-drawer [ngClass]="{
        'personnel':className()=='personnel',
        'engins':className()=='engins',
        'default':className()=='default',
        'devis':className()=='devis'
    }" mode="over" position="end" [opened]="is_open()" disableClose="true">
        <ng-container [ngTemplateOutlet]="Entete()">
        </ng-container>
    </mat-drawer>
    <ng-content select="mydrawer2">

    </ng-content>
    <mat-drawer-content [ngClass]="{'personnel':className()=='personnel','engins':className()=='engins',
         'default':className()=='default',
         'devis':className()=='devis'}">
        <ng-container [ngTemplateOutlet]="Corps()">
        </ng-container>
    </mat-drawer-content>
</mat-drawer-container>